.noneBL{
  border-left: none !important;
}
.center {
  /* margin: auto !important;
  text-align: center !important; */
  /* width: 50% !important; */
  /* border: 3px solid green !important; */
  /* padding: 10px !important; */
  /* display: block !important;
  margin-left: auto !important;
  margin-right: auto !important; */
}
